absl-py==0.9.0
airbnb==2.3.2
airtable-python-wrapper==0.15.0
alpaca-trade-api==0.46
alpha-vantage==2.1.3
appdirs==1.4.3
appnope @ file:///opt/concourse/worker/volumes/live/4f734db2-9ca8-4d8b-5b29-6ca15b4b4772/volume/appnope_1606859466979/work
argon2-cffi @ file:///opt/concourse/worker/volumes/live/c4db8eed-7de0-4d68-400c-2ea7e21d3750/volume/argon2-cffi_1596828478065/work
async-generator==1.10
asyncio-nats-client==0.10.0
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autopep8==1.4.4
backcall==0.2.0
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blis==0.7.4
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.1.0
Cartopy==0.17.0
catalogue==1.0.0
certifi==2020.12.5
cffi @ file:///opt/concourse/worker/volumes/live/2aa8abfe-8b8d-4889-78d9-837b74c3cd64/volume/cffi_1606255119410/work
chardet @ file:///opt/concourse/worker/volumes/live/9efbf151-b45b-463d-6340-a5c399bf00b7/volume/chardet_1607706825988/work
cifar10-web==0.0.4
click==7.1.2
cloudpickle==1.4.0
clyent==1.2.2
colorama==0.4.3
conda==4.9.2
conda-build==3.18.11
conda-package-handling @ file:///opt/concourse/worker/volumes/live/41a2ba95-d84c-4c06-4d6e-5665866bc5b4/volume/conda-package-handling_1603018173200/work
configparser==5.0.0
crayons==0.3.1
cryptography @ file:///opt/concourse/worker/volumes/live/41c3d62a-f1f8-46ce-414a-9adaf4ea7d96/volume/cryptography_1607636752064/work
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.17
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.7
-e git+https://github.com/facebookresearch/detectron2@4197baa35aa8e15326877eb44d9e6a7c452e26a7#egg=detectron2
edgar==5.1.15
en-core-web-sm==2.3.1
entrypoints==0.3
fake-useragent==0.1.11
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Limiter==1.2.1
future==0.18.2
fvcore==0.1.dev200424
gensim==3.8.3
glob2==0.7
google-api-core==1.24.1
google-auth==1.24.0
google-auth-oauthlib==0.4.1
google-cloud==0.34.0
google-cloud-speech==2.0.1
google-colab==1.0.0
googleapis-common-protos==1.52.0
grpcio==1.34.0
h5py==2.10.0
heroku==0.1.4
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
install==1.3.4
ipykernel @ file:///opt/concourse/worker/volumes/live/73e8766c-12c3-4f76-62a6-3dea9a7da5b7/volume/ipykernel_1596206701501/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///opt/concourse/worker/volumes/live/27d08825-4fae-44a4-4324-8338f92c3ef3/volume/ipython_1604101240866/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.2
joblib==0.14.1
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console==6.1.0
jupyter-core @ file:///opt/concourse/worker/volumes/live/a00c6604-807b-490b-6c3f-c66a22f02fab/volume/jupyter_core_1606148990852/work
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
kiwisolver @ file:///opt/concourse/worker/volumes/live/7f2d375c-30f6-458e-63e3-3be3b4be2918/volume/kiwisolver_1604014611853/work
libarchive-c==2.9
libcst==0.3.16
limits==1.5.1
lxml @ file:///opt/concourse/worker/volumes/live/2f2e9d7c-80fe-4a43-633f-52750fdb2409/volume/lxml_1606516857523/work
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib @ file:///opt/concourse/worker/volumes/live/61624fbb-2a49-420f-6e89-f3df5b5e7cab/volume/matplotlib-base_1603373809385/work
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
multitasking==0.0.9
murmurhash==1.0.5
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///opt/concourse/worker/volumes/live/d4b0787b-b6c8-4d28-5453-3381885d5b33/volume/nbconvert_1601914848300/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
nltk==3.5
notebook @ file:///opt/concourse/worker/volumes/live/94608e0b-51c8-4164-6782-858bda217cfa/volume/notebook_1607976402963/work
numpy @ file:///opt/concourse/worker/volumes/live/a1b5ea96-b05c-40ba-5dfb-4542ece1c186/volume/numpy_and_numpy_base_1603491228242/work
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
OWSLib==0.18.0
packaging @ file:///tmp/build/80754af9/packaging_1607971725249/work
pandas==0.24.2
pandocfilters @ file:///opt/concourse/worker/volumes/live/315ac9bb-93fd-4adc-6795-345692fcfaed/volume/pandocfilters_1605120446899/work
parse==1.15.0
parso @ file:///tmp/build/80754af9/parso_1607623074025/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///opt/concourse/worker/volumes/live/95e97a5f-0d90-45c8-4080-207143da6ebf/volume/pillow_1603822285720/work
pkginfo==1.6.1
plac==1.1.3
portalocker==1.7.0
portpicker==1.2.0
preshed==3.0.5
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1606344362066/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
proto-plus==1.13.0
protobuf==3.14.0
psutil @ file:///opt/concourse/worker/volumes/live/abb7a219-3a4a-4ff9-4158-148060faae29/volume/psutil_1598370243710/work
psycopg2==2.8.4
psycopg2-binary==2.8.6
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1605560620615/work/dist/ptyprocess-0.6.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydot==1.4.1
pyee==7.0.1
pyepsg==0.4.0
Pygments @ file:///tmp/build/80754af9/pygments_1607368905949/work
PyJWT==1.7.1
pykdtree==1.3.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyppeteer==0.0.25
pyproj==1.9.6
pyquery==1.4.1
pyrsistent @ file:///opt/concourse/worker/volumes/live/656e0c1b-ef87-4251-4a51-1290b2351993/volume/pyrsistent_1600141745371/work
pyshp @ file:///tmp/build/80754af9/pyshp_1600141782871/work
PySocks @ file:///opt/concourse/worker/volumes/live/ef943889-94fc-4539-798d-461c60b77804/volume/pysocks_1605305801690/work
python-dateutil==2.8.1
python-dotenv==0.12.0
python-http-client==3.2.7
python-mnist==0.7
pytz @ file:///tmp/build/80754af9/pytz_1606604771399/work
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==4.7.2
QtPy==1.9.0
regex==2020.7.14
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-html==0.10.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel-yaml==0.15.87
scikit-learn==0.22.2.post1
scipy @ file:///opt/concourse/worker/volumes/live/9698578f-91da-4d5f-6fce-b26b1f42eb5a/volume/scipy_1597686637948/work
sec-edgar-downloader==3.0.5
selenium==3.141.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
sendgrid==6.2.1
Shapely==1.6.4.post1
simplegeneric==0.8.1
six @ file:///opt/concourse/worker/volumes/live/f983ba11-c9fe-4dff-7ce7-d89b95b09771/volume/six_1605205318156/work
sklearn==0.0
smart-open==4.0.1
soupsieve @ file:///tmp/build/80754af9/soupsieve_1607965878077/work
spacy==2.3.5
srsly==1.0.5
stop-words==2018.7.23
tabulate==0.8.7
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
thinc==7.4.5
torch==1.5.0
torchvision==0.6.0
tornado @ file:///opt/concourse/worker/volumes/live/d531d395-893c-4ca1-6a5f-717b318eb08c/volume/tornado_1606942307627/work
tqdm @ file:///tmp/build/80754af9/tqdm_1607369919789/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
twilio==6.45.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3 @ file:///tmp/build/80754af9/urllib3_1606938623459/work
venmo-api==0.2.2
vobject==0.9.6.1
w3lib==1.21.0
waitress==1.3.1
wasabi==0.8.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webdriver-manager==3.2.1
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.0
xlrd==1.2.0
xmltodict==0.12.0
yacs==0.1.7
yahoo-fin==0.8.4
yfinance==0.1.54
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
