click==7.1.2
Flask==1.1.2
Flask-Limiter==1.4
gensim==3.8.3
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
limits==1.5.1
MarkupSafe==1.1.1
nltk==3.5
numpy==1.19.4
regex==2020.11.13
scipy==1.5.4
six==1.15.0
smart-open==4.0.1
stop-words==2018.7.23
tqdm==4.54.1
waitress==1.4.4
Werkzeug==1.0.1
